.ipynb_checkpoints/
__pycache__/
.DS_Store
*.cpg
*.dbf
*.prj
*.qmd
*.shp
*.shx
*.tif
*.nc
.xlsx
bin/
# Ignore everything in data folder
data/*
# And do not ignore specific files inside it
!data/hydmet.txt
!data/performances.txt

*.joblib
*.pptx
code/bin/
*.zip
*.png
*.csv
results/hbv

# Do not ignore anything inside code/R
!code/R/
!code/R/**/*
